:root {
  --clr1: rgb(25, 53, 62);
  --clr2: rgb(68, 84, 84);

  --clr1bg: rgb(194, 253, 255);
  --clr1bg-light: rgb(134, 175, 177);
  --clr2bg: rgb(104, 179, 222);
  --clr2bg-light: rgb(194, 194, 255);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);

} 